<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add a Product</title>
</head>
<body>
    <h1>Add a Product</h1>
    <form action="/products" method="post">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product name">
        <label for="price">Price (Unit)</label>
        <input type="number" name="price" id="price" placeholder="Product Price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <button class="submit">submit</button>
    </form>
</body>
</html>